<!DOCTYPE html>
<html>
<head>
    <title>Foo Bar's Blog</title>
    <link href="{{ site.url }}/statics/css/markdown.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ site.url }}/statics/css/styles.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>

<body>
	<header class="main-header">
		<div class="container">
		    <hgroup>
		      <h1><a href="{{ site.url }}">Foo Bar</a></h1>
		      <h2>Foo Talks About Stuff Here</h2>
		    </hgroup>
		    <nav>
		      <ul>
		        <li><a href="http://twitter.com/#!/foobar" target="_blank">Twitter</a></li>
		        <li><a href="mailto:foobar@gmail.com?subject=Hey Foo">Email Me</a></li>
		      </ul>
		    </nav>
		</div>
	</header>
	<section class="posts container">
		{{ content }}
	</section>
</body>
</html>
